body {
	font-family: 'Nunito', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #BBE6ED;
}

.signup-form, .login-form {
		line-height: 200%;
		display: inline-block;
    	text-align: center;
    	padding: 15px;
}

.signup-form > p {
	color: red;
}

.place-order {
	text-align: center;
	width: 500px;
	padding-top: 30px;
	margin: auto;
	background-color: white;
	left: calc(50% - 250px);
}

button.submit {
	margin-bottom: 40px;
}

.order-form, #order {
	line-height: 150%;
	text-align: left;
	padding-left: 40px;
}

.order-form > input.text {
	width: 250px;
	height: 20px;
}

.order-form > input {
	margin-bottom: 20px;
	border: 2px solid #BBE6ED;
}

.form-container {
	width: 280px;
    margin: auto;
    background-color: white;
    padding: 25px;
	height: 225px;
    position: absolute;
    left: calc(50% - 165px);
    top: calc(40% - 120px);
    text-align: center;
}

.form-container p {
	color: gray;
}

a {
	font-family: 'Nunito', sans-serif;
	width: 170px;
    height: 40px;
    font-size: 16px;
    background-color: none;
    border: 2px solid white;
    box-shadow: none;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 10px;
    margin-top: 20px;
}

a:hover {
/*	background-color: #E8CFDE;
*/	background-color: #FF88AD;
}

.form-header {
	float: right;
	padding: 20px;
}

.order-link {
    background-color: #FF88AD;
}

form > button {
	font-family: 'Nunito', sans-serif;
	width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: #FF88AD;
    border: 2px solid white;
    box-shadow: none;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

form > button:hover {
	background-color: #F24477;

}

.login-link {
	color: black;
	border: 2px solid black;
}

#message {
	text-align: center;
}

.dashboard-welcome {
	padding-left: 30px;
}

.log-out {
	float: right;
	padding-right: 30px;
}

.assign[disabled] {
	background-color: #eee;
	color: #aaa;
}

.assign[disabled]:hover {
	background-color: #eee;
}

.assigned-to-me {
	background-color: #FF88AD !important;
}

.assigned-to-other {
	background-color: #DAF8DD !important;
}

.orders-table {
	font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background-color: white;
    border: 2px solid grey;
    box-shadow: none;
    letter-spacing: 1px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.orders-table:hover, .view-order:hover {
	background-color: #a8cfd5;
}

.view-order {
	border: 2px solid gray;
	background-color: white;
	padding: 5px;
	text-align: center;
}

.view-order-link {
	border: none;
	background-color: none;
	background: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

table.single-order-table {
	margin: auto;
	background-color: #BBE6ED;
}

.single-order-table > tbody, tr, td {
	text-align: left !important;
}

.single-order-table > thead {
	display: none;
}

.table-container {
	width: 100%;
	overflow: auto;
}

table, th, td {
   text-align: center;
}

th, td {
	padding: 15px;
}

table.single-order-table tr:nth-child(even) {
    background-color: #eee;
}

table.single-order-table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    color: white;
    background-color: grey;
}

table tr {
	background-color: white;
}

table {
	border: 1px solid grey;
	margin: 30px;
}

header {
	text-align: right;
	position: relative;
	top: 25px;
}

.home-image {

	background-image: url("cupcakes.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 900px;
}

.home-image-order {

	background-image: url("cupcakes.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 1100px;
	padding-top: 40px;
}

.welcome {
	margin: auto;
	text-align: center
}

.welcome-message {
	width: 60%;
	margin: auto;
	padding-bottom: 20px;
}

.welcome p {
	text-align: center;
	color: #777777;
	letter-spacing: 1px;
}

.welcome h1 {
	text-align: center;
	padding-top: 10%;
	color: #555555;
	letter-spacing: 1px;
}

.legend {
	margin-top: 60px;
}
.legend-item {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: black solid 2px;
	margin-left: 30px;
	margin-right: 8px;
}

.legend-description {
	display: inline-block;
}

.legend-unassigned {
	background-color: white;
}

.legend-other {
	background-color: #DAF8DD;
}

.legend-me {
	background-color: #FF88AD;
}
