body {
	font-family: 'Nunito', sans-serif;
	padding: 0;
	margin: 0;
	background-color: #BBE6ED
}

.signup-form, .login-form {
		line-height: 200%;
		display: inline-block;
    	text-align: center;
    	padding: 15px;
}

.order-form {
	line-height: 200%;
	text-align: left;
	padding: 40px;
}

.form-container {
	width: 250px;
    margin: auto;
    background-color: white;
    padding: 20px;
	height: 200px;
    position: absolute;
    left: 35%;
    top: calc(40% - 120px);
}

a {
	font-family: 'Nunito', sans-serif;
	width: 170px;
    height: 40px;
    font-size: 16px;
    background-color: none;
    border: 2px solid white;
    box-shadow: none;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin: 10px;
    margin-top: 20px;
}

a:hover {
/*	background-color: #E8CFDE;
*/	background-color: #FF88AD;
}

.order-link {
    background-color: #FF88AD;
}

form > button {
	font-family: 'Nunito', sans-serif;
	width: 100px;
    height: 40px;
    font-size: 16px;
    background-color: #FF88AD;
    border: 2px solid white;
    box-shadow: none;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

form > button:hover {
	background-color: #F24477;

}

.login-link {
	color: black;
	border: 2px solid black;
}

#message {
	text-align: center;
}

.dashboard-welcome {
	margin-left: 30px;
}

.assigned-to-me {
	background-color: #FF88AD !important;
}

.orders-table {
	font-family: 'Nunito', sans-serif;
	/*width: 170px;
    height: 40px;*/
    font-size: 14px;
    background-color: white;
    border: 2px solid grey;
    box-shadow: none;
    letter-spacing: 1px;
    padding: 5px;
    text-decoration: none;
    color: black;
   /* margin: 10px;
    margin-top: 20px;*/
}

.orders-table:hover {
	background-color: #a8cfd5;
}

table, th, td {
   text-align: center;
}

th, td {
	padding: 15px;
}

table tr:nth-child(even) {
    background-color: #eee;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table th {
    color: white;
    background-color: grey;
}

table {
	border: 1px solid grey;
	margin: 30px;
}

header {
	text-align: right;
	position: relative;
	top: 25px;
}

.home-image {

	background-image: url("cupcakes.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
}

.welcome {
	margin: auto;
	text-align: center
}

h1 {
	text-align: center;
	padding-top: 10%;
	color: white;
	letter-spacing: 3px;
	font-size: 300%;
}

